h1 {
	font-size: 2em;
	font-family: pt-sans-bold;
}

h3 {
	font-size: 1.2em;
	font-family: pt-sans-bold;
}

p {
	font-family: pt-sans;
	padding-top: 0.5em;
}

#index {
	margin-left: 20em;
	padding: 0em 2em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.stall {
	text-align: center;
	min-width: 670px;
	width: 50em;
	margin: 4em 2em;
	color: black;
}	

	.stall-header {
		text-align: left;
		border-top: 2px solid black;
		border-bottom: 1px solid #999;
		position: relative;
	}


		.stall-header img {
			background: black;
			padding: 0.3em;
			margin-bottom: 0;
			width: 10em;	
		}

		.stall-header .stall-info {
			display: inline;
			position: absolute;
			width: 70%;
			margin: 1.5em 1em;
		}

	.stall-body {
		padding: 1em;
		margin-top: 0.5em;
		border-left: 2px solid black;
	}

		.stall-body img {
			width: 70%;
			margin-bottom: 0.5em;
			border-radius: 20%;
		}

.menu {

}

	.menu-item {
		border-radius: 20px;
		position: relative;
		height: 10em;
		width: 80%;
		margin: 1.5em auto;
		text-align: left;
		background: white;
		box-shadow: 0.3em 0.3em 1em #888888;
	}

		.menu-item img {
			width: 20%;
			padding: 0.5em;
			margin: 0em 2.5em;
			margin-top: 0.5em;
			border-radius: 100%;
		}

	.menu-desc {
		position: absolute;
		display: inline;
		margin: 2.5em 1em; 
	}

	.menu-price {
		float: right;
		position: relative;
		height: 100%;
		width: 15%;
		padding: 0 1em;
		border-left: 1px solid #DDD;
	}

		.menu-price p {
			font-family: pt-sans-bold;
			font-size: 1.5em;
			position: absolute;
			top: 30%;
			left: 30%;
		}

		.menu-price p::after {
			text-align: center;
			font-size: 0.5em;
			display: block;
			content: "Php";
		}