h1 {
	font-size: 2em;
	font-family: pt-sans-bold;
}

h3 {
	font-size: 1.2em;
	font-family: pt-sans-bold;
}

p {
	font-family: pt-sans;
	padding-top: 0.5em;
}

#index {
	margin-left: 20em;
	padding: 0em 2em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.stall {
	text-align: center;
	min-width: 670px;
	width: 50em;
	margin: 4em 2em;
	color: black;
}	

	.stall-header {
		text-align: left;
		border-top: 2px solid black;
		border-bottom: 1px solid #999;
		position: relative;
	}


		.stall-header img {
			background: black;
			padding: 0.3em;
			margin-bottom: 0;
			width: 10em;	
		}

		.stall-header .stall-info {
			display: inline;
			position: absolute;
			width: 70%;
			margin: 1.5em 1em;
		}

	.stall-body {
		padding: 1em;
		margin-top: 0.5em;
		border-left: 2px solid black;
	}

		.stall-body img {
			width: 70%;
			margin-bottom: 0.5em;
			border-radius: 20%;
		}

.menu {

}

	.menu-item {
		position: relative;
		margin: 0.5em 1em;
		text-align: left;
	}
		.menu-item:nth-child(2n+1) {
			background: #DDD;
		}

		.menu-item img {
			width: 10%;
			padding: 0.5em;
			margin: 0;
		}

		.menu-desc {
			position: absolute;
			display: inline;
			margin: 1em;
		}