{{define "base"}}
<!DOCTYPE html>
<html>
<head>
	<title>JSEC Challenge</title>
	<link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
	<!-- Sidebar -->
	<div id="sidebar">
		Test
	</div>
</body>
</html>
{{end}}
