{{define "index"}}
	<div id="index">
		<div class="stall">
			<div class="stall-header">
				<img src="../static/images/{{.StallName}}.png">
				<div class="stall-info">
					<h1>{{.StallName}}</h1>
					<p>{{.StallDesc}}</p>	
				</div>
			</div>
			<div class="stall-body">
				<div class="menu">
					<h1>Menu</h1>	
					{{range .Items}}
					<div class="menu-item">
						<img src="../static/images/sandwich_icon.png" alt="">
						<div class="menu-desc">
							<h3>{{.ItemName}} - PHP{{.Price}}</h3> 
							<p>{{.ItemDesc}}</p>
						</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>
	</div>
</body>
</html>	
{{end}}

<!-- Instead of define "content", we tell it to call base template instead -->
<!-- From https://stackoverflow.com/questions/17206467/go-how-to-render-multiple-templates-in-golang -->