{{define "index"}}
	<div id="index">
		{{range .}}
		<div class="stall">
			<a href="">
				<div class="stall-header">
					<img src="../static/images/sandwich_icon.png">
					<h1>{{.StallName}}</h1><br>
				</div>
				<div class="stall-body">
					<img src="../static/images/{{.StallName}}.png">
					<div class="stall-desc">
						<h3>{{.StallDesc}}</h3>	
					</div>
				</div>
			</a>
		</div>
		{{end}}
	</div>
</body>
</html>	
{{end}}

<!-- Instead of define "content", we tell it to call base template instead -->
<!-- From https://stackoverflow.com/questions/17206467/go-how-to-render-multiple-templates-in-golang -->