{{define "index"}}
{{range .}}
<h1>{{.StallName}}</h1>
<h3>{{.StallDesc}}</h3>
<ul>
	{{range .Items}}
	<li>{{.ItemName}}</li>
	<li>{{.ItemDesc}}</li>
	<li>{{.Price}}</li>
	{{end}}
</ul>
{{end}}
{{end}}

<!-- Instead of define "content", we tell it to call base template instead -->
<!-- From https://stackoverflow.com/questions/17206467/go-how-to-render-multiple-templates-in-golang -->